<span class="image-scope">
  <style scoped>
    /* fall-back styles for browsers without media query support (IE6-8) */
    #road {
      background-image: url('road.jpg');
      height: 681px;
      width: 1024px;
    }

    /* small image for mobile */
    @media (min-width: 0px) {
      #road {
        background-image: url('road-small.jpg');
        height: 213px;
        width: 320px;
      }
    }

    /* medium image for tablets */
    @media (min-width: 640px) {
      #road {
        background-image: url('road-medium.jpg');
        height: 426px;
        width: 640px;
      }
    }

    /* large image for desktop */
    @media (min-width: 1024px) {
      #road {
        background-image: url('road.jpg');
        height: 681px;
        width: 1024px;
      }
    }
  </style>
  <span id="road" class="image" role="img" aria-label="A road in Sweden during winter."></span>
</span>
